

html,
body {
 
  background: black;
}

.logo{
    display: flex;
    justify-content: center;
}

.image-case img{
    width: 300px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  margin: auto;
  
}

h1{
    color: white;
    
}

description-case p{
    color: white;
    font-size: 25px;
    width: 70%;
    margin: auto;
}


@media only screen and (max-width:500px) { 

    .logo img{
        width: 300px;
    }

    .download-case h2{
        width: 80%;
        text-align: center;
        
    }

    .snapchat-case h2{
        width: 80%;
        text-align: center;
        
    }

    .help-case h2{
        width: 80%;
        text-align: center;
        
    }

    .first-step, .second-step, .third-step{
        display: none;
        
    }
	
    .download-case p{
        width: 80%;
        margin-top: 10px;
    }

    .snapchat-case p{
        width: 80%;
        margin-top: 10px;
    }

    .help-case p{
        width: 80%;
        margin-top: 10px;
    }

    .download-image, .snapchat-image, .help-image{
        padding: 5px;
    }
    
}